@import url(https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap);

:root {
  font-family: "Open Sans", sans-serif;
  --main-text-color: rgb(72, 79, 91);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
